---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const currentYear = new Date().getFullYear();

// 全ての記事データを取得
const allPosts = await getCollection('blog');

// 全記事からタグだけを取り出し、重複をなくす（Setを使うと重複が消えます）
const tags = [...new Set(allPosts.map((post: CollectionEntry<'blog'>) => post.data.tags).flat())];
---
<footer class="footer">
  <div class="footer-inner">
    <div class="footer-links">
      <a href="/">Top</a>
      <a href="#">About</a>
    </div>
    
    <div class="footer-tags">
      <span>Tags:</span>
      {tags.map((tag: string) => (
        /* タグ別一覧ページの1ページ目へのリンク */
        <a href={`/tags/${tag}/1`} class="footer-tag-link">#{tag}</a>
      ))}
    </div>
    
    <p class="copyright">&copy; {currentYear} Hacca's engineering memo</p>
  </div>
</footer>

<style>
  .footer {
    border-top: 1px solid #e2e8f0;
    padding: 2rem 0;
    margin-top: auto;
  }

  .footer-inner {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    color: var(--color-text-sub);
    font-size: 0.9rem;
  }

  .footer-links, .footer-tags {
    margin-bottom: 1rem;
  }

  .footer a {
    color: var(--color-text-sub);
    margin-right: 1rem;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer-tag-link {
    display: inline-block;
  }

  .copyright {
    text-align: center;
    margin-top: 2rem;
  }
</style>